{
  "env": {
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
          "include": []
        }]
        ],
        "plugins": [
          "transform-decorators-legacy",
          "transform-class-properties",
          "transform-regenerator"
        ]
    },
    "client": {
      "presets": ["react", "latest"],
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}
