@import './variables/colors.scss';

.header {
  height: 50px;
  background-color: $header-background;

  &-link {
    margin-right: 15px;
    color: #ffffff
  }

  .logo {
    font-size: 13.5px;
    position: absolute;
    right: 38px;
    top: 5px;

    h1 {
      color: #ffffff;
      font-family: 'presidencia_finaregular';
      font-size: 2em;
      display: flex;
    }

    h1.before::before {
      content: url("/static/graphitejs.svg");
      display: inline-block;
      width: (70/30) * 1em;
      margin-right: (5/30) * 1em;
    }

    h1.after::after {
      content: url("/static/graphitejs.svg");
      display: inline-block;
      width: (70/30) * 1em;
      margin-left: (5/30) * 1em;
    }
  }
}
