@import './variables/colors.scss';
@import './_reset.scss';
@import './font/stylesheet.scss';

body {
  overflow-x: hidden;
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
}

select {
  width: 300px;
}

p {
  font-size: 16px;
  color: $primary-color;
}
