@import './variables/colors.scss';
@import './_reset.scss';

body {
  overflow: hidden;
  background-color: $light-primary-color;
  font-family: 'Roboto', sans-serif;
}

select {
  width: 300px;
}

p {
  font-size: 16px;
  color: $secondary-text-color;
}
