@import './variables/colors.scss';

.layout {
  margin-left: 250px;
  padding: 10px;
  height: 100%;
  position: absolute;
  width: calc(100% - 270px);

  &-header {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    h2 {
      text-transform: capitalize;
      float: left;

      &:not(.main) {
        margin-left: 10px;
      }
    }

    a {
      text-transform: capitalize;
      float: left;
      color: $accent-text-color;
    }
  }

  .btn-round {
    background-color: $default-primary-color;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 $secondary-shadow-color;
    line-height: 1;
    font-size: 36px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: inline-block;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      height: 100%;
      width: 100%;
      text-align: center;
      margin-top: -22px;
      margin-top: -18px;
      color: $light-primary-text-color;
    }
  }
}
