@import './variables/colors.scss';

.nav {
  display: flex;
  width: 250px;
  align-self: flex-start;
  flex-direction: column;
  height: calc(100% - 50px);
  position: absolute;
  overflow-x: auto;
  background-color: $light-primary-color;
  box-shadow: 0 2px 0 0 $primary-shadow-color, 0 0 0 1px $primary-shadow-color;

  &-model-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $divider-color;
  }

  &-link{
    text-transform: capitalize;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    text-decoration: none;
    color: $primary-text-color;

    &.active {
      color: $light-primary-text-color;
      background-color: $accent-color;
    }
  }

  .admin {
    height: 200px;
    min-height: 200px;
    border-bottom: 1px solid $divider-color;

    &-top {
      width: 100%;
      height: 100px;
      background-color: $default-primary-color;
    }

    &-bottom {
      width: 100%;
      height: 100px;
    }

    &-img-container {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50px;
      left: 78px;
      border-radius: 50px;
      background-color: $light-primary-color;
      box-shadow: 0 2px 0 0 $primary-shadow-color, 0 0 0 1px $primary-shadow-color;

      img {
        display: block;
        width: 86px;
        height: 86px;
        margin-top: 11px;
        margin-left: 7px;
        content: url("/static/graphitejs.svg");
      }
    }
  }
}
